@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --background-dark: #0c0c0c;
    --primary-dark: #55286f;
    --secondary-dark: #c589e8;
    --white: #f0f0f0;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-dark);
    color: var(--white);
}

a {
    color: var(--white);
    text-decoration: none;
}

/* provisional */
/* img {
    width: 160px;
} */

.sidebar {
    background-color: var(--primary-dark);
    width: 72px;
}

.btn-account {
    color: var(--white);
    border: 2px solid var(--primary-dark);
}

.btn-login {
    background-color: var(--primary-dark);
}

.btn-signup {
    background-color: var(--background-dark);
}

.btn-login:hover,
.btn-signup:hover {
    background-color: var(--secondary-dark);
}
